@import 'variables';

/********************/
/* Reset Stylesheet */ 
/********************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0 ;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Makes calculation width and height of elements easier */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*******************/
/* MY OWN LESS/CSS */ 
/*******************/

html,
body {
    height: 100%;
}

a {
    color: #222;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}

.body,
.footer,
.header {
    position: absolute;
    width: 100%;
}

.body {
    background-color: red;
    top: @header-height;
    bottom: @footer-height;
}

.body-menu {
    background-color: khaki;
    float: left;
    
    height: 100%;
    border-right: @standard-border;
    overflow: auto;
    word-break: break-word;
}

.body-content {
    padding: 5px;
    background-color: lightblue;
    height: 100%;
    overflow: auto;
}

.lectures-list {
    list-style: none;
    width: @lecture-col-width;

    li {
        padding: 20px 0 20px 5px;
        border-bottom: @standard-border;

        &:hover {
            background-color: @standard-bg-hover;
        }
    }
}

.picked-nav {
    background-color: #CCC;
}


.navigation {
    list-style-typ: none;

    li {
        display: inline;
        padding: 14px 8px;
        font-size: @header-fontsize;
        border-right: @standard-border;

        &:hover {
            background-color: @standard-bg-hover;
        }

        &:first-child {
            margin-left: @lecture-col-width;
            border-left: @standard-border;
        }
    }

    li.hidden-mobil,
    li.hidden-mobil-xs {
        display: none;
    }
}


.header {
    top: 0;
    height: @header-height;
    padding: @padding-head 0;
    border-bottom: @standard-border;
}

.logo{
    position: absolute;
    left: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    top: 14px;

    &:hover {
        color: #444;
        text-decoration: none;
    }
}

.footer {
    bottom: 0;
    background-color: @standard-bg;
    padding: @padding-footer 0;
    text-align: center;
    border-top: @standard-border;
    font-size: @footer-fontsize;
}

.add-lecture-form { 
    label {
        padding: 5px 2px;
    }

    button {
        margin-top: 10px;
        padding: 8px 16px;
    }
}

.platzhalter {
    display: none;
}

.question-box {
    border: @standard-border;
    padding: 10px;
    padding-right: 30px;
    margin: 15px;
    position: relative;
    word-wrap: break-word;

    ul {
        list-style: none;
    }

    div {
        margin-bottom: 10px;
    }
}

.true-false-label {
    width: 25px;
}

.edit-question{
    position: absolute;
    right: 5px;
    top: 5px;
    border: @standard-border;
    padding: 5px;

    &.edit-toggle:hover {
        background-color: @standard-bg-hover;
    }
}

.delete-question{
    position: absolute;
    right: 5px;
    top: 35px;
    border: @standard-border;
    padding: 5px;

    &:hover {
        background-color: red;
    }
}

.frage-antwort-textareas {
    width: 100%;
}

.global-message-div {
    display: none;
    margin: auto;
    word-wrap: break-word;
    padding: 10px;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    background-color: #AAA;
    text-align: center;
    height: 50px;
    width: 300px;
}

.input-error {
    border: 2px solid red;
}

.exam-input-list {
    list-style-type: none;
}

.exam-create-btn {
    margin-top: 15px;
}

.vorschlag-titel {
    margin: 25px 0 15px 0;
}
    
.exam-points {
    margin-bottom: 15px;
}

.vorschlag-daten {
    margin-top: 25px;
}


.exam-question-text {
    clear: both;
    margin-top: 5px;
    width: 400px;
}

hr {
    border-top: @standard-border;
    align-self: flex-start;
    width: 40%;
    margin: 5px 0;
}

.switch-box {
    border-left: 3px solid yellow;
    padding-bottom: 10px;
    padding: 10px 0;
    
    .switch-questions-box {
        padding: 5px 0 5px 15px;
    
        .title {
            margin-bottom: 10px;
        }
    
        .switch-question {
            margin-bottom: 10px;
            
            .quesiton-type {
                margin-right: 5px;
            }
        }
        
        .switch-question-text{
            width: 400px;
            margin: 3px 0 0 22px;
        }
    }
    
    .cancel-switch-btn {
        &:hover {
            background-color: @standard-bg-hover;
        }
    }
}

.switch-btn {
    border: @standard-border;
    padding: 0 5px;
    
    &:hover {
        background-color: @standard-bg-hover;
    }
}

.nav-arrow-div span{
    border: @standard-border;
   
    &:hover {
        background-color: @standard-bg-hover;
    }
}

.vorschlag-question-edit {
    padding: 3px 25px;
    
    &:hover {
        background-color: @standard-bg-hover;
    }
}

span[class^='vorschlag']{
    margin: 3px 2px;
    padding: 3px;
}

.type-title {
    padding: 10px 0 15px 20px;
}

.cancel-switch-btn{
    border: @standard-border;
    padding: 3px;
    margin: 20px 15px;
}

.questions-info-box {
    margin: 15px;
}
    
.short-info-div {
    float: left; 
    margin: 6px 0;
    
    span {
        border-right: @standard-border;
        padding: 0 8px 0 0;
            
        &:last-child {
            border-right: none;
        }
    }
}

.nav-arrow-div {
    float: left; 
    margin: 6px 0;
}

.switch-question-info {
    span {
        border-right: @standard-border;
        padding: 0 6px 0 0;
            
        &:last-child {
            border-right: none;
        }
    }
}

.exam-question {
    padding: 6px;
}

.vorlage-textarea {
    width: 600px;
}
/*******************/
/* Media queries   */ 
/*******************/

/* Small devices (360 and up) */
@media screen and (min-width: @screen-mobile-xs) { 
    .navigation li.hidden-mobil-xs {
        display: inline;
    }   
}

/* Small devices (500px and up) */
@media screen and (min-width: @screen-mobile) { 
    .navigation li.hidden-mobil {
        display: inline;
    }   
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: @screen-sm-min) { 
    .lectures-list {
        width: @lecture-col-width-sm;
        li {
            padding: 20px 0 20px 20px;
        }
    }

    .logo{
        left: 35px;
        font-size: 25px;
        top: 10px;
        letter-spacing: 3px;
    }

    .navigation li {
        padding: 14px;

        &:first-child {
            margin-left: @lecture-col-width-sm;
        }
    }

    .footer {
        padding: @padding-footer-sm 0;
    }

    .question-additional-info {
        li {
            margin-right: 10px;
            display: inline;
        }
    }

    .frage-antwort-textareas {
        width: 50%;
    }
    
    .exam-input-list {
        li {
            display: inline;
        }
        
        .exam-date {
            width: 150px;
        }
    }
    
    hr {
        width: 25%;
    }
    
    .exam-question-text {
        width: 550px;
    }
    
    .body-content {
        padding: 10px;
    }
    
    .switch-question {
        hr {
            margin-top: 10px;
            width: 50%;
        }
    }
}
