@import "../../bootstrap/less/variables.less";

@screen-mobile: 500px;
@screen-mobile-xs: 360px;

@standard-border: 1px solid #777;
@standard-bg: #f8f8f8;
@standard-bg-hover: #eee;
@brand-sec-color: #F0E68C;
@lecture-col-width: 85px;
@lecture-col-width-sm: 180px;
@header-footer-sum: @padding-head + @padding-footer + @header-fontsize +@footer-fontsize;
@header-fontsize: 16px;
@footer-fontsize: 16px;
@padding-head: 15px;
@padding-footer: 5px;
@padding-footer-sm: 10px;
@footer-height: 2 * @padding-footer + @header-fontsize;
@header-height: 2 * @padding-head + @header-fontsize;

@div-width-desktop: 700px;
@div-width-padish: 500px;
@div-width-mobile: 400px;
